

.nav-container {
  width: 100%;
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}



.menu {
  width: 40px;
  height: 30px;
  
}

.menu img {
  cursor: pointer;
}



.logo-container {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.logo-container a {
  color: #22c55e;
  text-decoration: none;
}

.landing-logo{
  text-decoration: none;
}
.landing-logo h1{
  color: #22c55e;
}
.search-container {
  display: none;
  align-items: center;
  background: #f4f4f4;
  padding: 6px 12px;
  border-radius: 20px;
  width: 200px;
}

.search-container img {
  width: 16px;
  margin-right: 4px;
  opacity: 0.7;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}



.write-icon {
 
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #333;
}

.write-icon a {

  text-decoration: none;
}

.write-icon img {
  
  width: 18px;
}

.write-icon span {
 
  color: black;
  font-size: 14px;
  font-weight: 500;
}



.notifs {
  display: none; 
}

.notifs img {
  width: 25px;
  cursor: pointer;
}


.nav-buttons .sign-in {
  display: none; 
}

.nav-buttons button {
  font-weight: 500;
  margin: 10px;
  border-style: none;
  color: black;
  background: white;
  gap: 2px;
  transition: 0.2s ease;
  cursor: pointer;
}

.nav-buttons .get-started-btn {

  font-size: 14px;
  border: 1px solid #22c55e ;
  border-radius: 12px;
  color: black;
  padding: 9px 15px;
}

.nav-buttons .sign-in {
  font-size: 14px;
  border-radius: 12px;
  color: black;
  padding: 9px 15px;
}



.nav-avatar {
  display: none; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ddd;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.menu-container {
  margin-left: 3px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  width: 160px;
  height: 200px;
  top: 63px;
  left: 0;
  color: rgb(32, 30, 30);
  background: rgb(238, 246, 242);
  z-index: 999;
  border-radius: 8px;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.4);
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.user-container a {
  color: black;
  text-decoration: none;
}



.write {
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #333;
}

.write a {
  text-decoration: none;
}

.write img {
  margin-left: 25px;
  width: 18px;
}

.write span {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.home-button{
 margin-bottom: 10px;
 border: 1px solid #22c55e;
 border-radius: 25px;

}

.home-button button{
  background: none;
  margin: 10px 0;
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding-left: 40px;
  border: none;
  font-size: 15px;
  font-weight: 500;

}

.logout-btn {
  padding: 2px;
  font-size: 20px;
}

.logout-btn button {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  color: white;
  background: #1a1a1a;
  transition: 0.2s ease-in-out;
}

.logout-btn :hover {
  cursor: pointer;
  color: #22c55e;
}



.authors-container {
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 15px;
}

.authors-container p {
  font-size: 14px;
  color: #aaa;
}

.logo {
  color: #22c55e;
  text-decoration: none;
}

.library {
  margin: 10px 0;
  border: 1px solid #22c55e;
  border-radius: 25px;
  

}

.library button{
  background: none;
  margin: 10px 0;
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding-left: 40px;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 768px) {

  .search-container,
  .nav-buttons,
  .notifs{
    display: none;
  }
.nav-avatar {
  display: none;
}
  .write-icon span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .search-container {
    width: 300px;
  }

  .nav-container {
    padding: 0 48px;
  }

  .menu-container {
    min-width: 19%;
    min-height: 30vh;
    
  }

.library {
  margin: 10px 0;
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding-left: 40px;

}

.home-button{
  margin-bottom: 10px;
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding-left: 40px;


}

  
.write {
  border: 1px solid #22c55e;
  border-radius: 25px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #333;
}

.write a {
  text-decoration: none;
}

.write img {
  margin-left:60px;
  width: 18px;
}

.write span {
  color: black;
  font-size: 15px;
  font-weight: 500;
}


  

  
}
