
.card {
  width: 100%;
  padding: 14px 16px;
  margin-top: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: 0.2s ease;
}

.card:hover {
  background: rgba(201, 250, 220 ,0.5);
}

.card-link {
  text-decoration: none;
  color: inherit;
}


.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.avatar {
  width: 32px; 
  height: 32px; 
  border-radius: 50%; 
  border: 1px solid; 
  border-color: inherit; 
  background: #ddd; 
  overflow: hidden;
   display: flex; 
   align-items: center; 
   justify-content: center; 
   flex-shrink: 0;
}

.avatar img {
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  font-size: 13px;
  font-weight: 600;
  color: #222;
}


.post-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}


.post-details {
  flex: 1;
  min-width: 0;
}


.title {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 1.3;
  margin-bottom: 6px;

  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
}


.subtitle {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 8px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.date {
  font-size: 11px;
  color: #4f46e5;
}


.post-image {
  width: 96px;
  height: 72px;
  border-radius: 4px;
  overflow: hidden;
  background: #eee;
  flex-shrink: 0;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 640px) {
  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .post-image {
    width: 140px;
    height: 100px;
  }
}


@media (min-width: 1024px) {
  .card {
    width: 800px;
    padding: 25px 60px;
  }

  .title {
    font-size: 28px;
  }

  .avatar{
    width: 40px;
    height: 40px;
  }

  .subtitle {
    font-size: 18px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-width: 95%;
  }

  .post-image {
    width: 220px;
    height: 150px;
  }
  .date{
    
    font-size: 13px;
    margin-top: 30px;
  }
}
